<ul>
	<li>
		<div class="card-content">
			<div class="card-img">
				<img src="{{manga.url}}" alt="agregar url de imagen de un manga">
				<span><h4>{{manga.nombre}}</h4></span>
			</div>
		<div class="card-desc">
			<h3>{{manga.nombre}}</h3>
				<p>{{manga.sinopsis}}</p>
				<a href="#" class="btn-card">Ver</a>
		</div>
		<hr>
		</div>
	</li>
</ul>