
<div class="container content">
	<div class="row row-flex">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>
<!-- form card login with validation feedback -->
			<div class="card card-outline-secondary bg-info">
				<div class="card-header text-center text-white">
					<h3 class="mb-0">Lista de Favoritos</h3>
				</div>

				<div class="card-body">
					<form>
						<div class="form-group">
							<label for="nombre">Nombre</label>
							<input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
						</div>
						<div class="form-group">
							<label for="Imagen Url">Url de la imagen</label>
							<input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url..." #url>
						</div>
						<div class="form-group">
			                <label for="sinopsis">Sinopsis</label>
			                <textarea id="sinopsis" class="form-control" rows="4" placeholder="Ingresar la sinopsis..." #sinop></textarea>
              			</div>

			<button type="submit" class="btn btn-danger" (click)="guardar(nombre.value, url.value, sinop.value)">Guardar</button>
					</form>
				</div>
			</div>
		</div>
	</div>

			<hr class="mb-5">

		<div class="row row-flex">
			<app-mangas-fav *ngFor="let m of mangas" [manga]="m"></app-mangas-fav>
		</div>
</div>
